$primary: #1F1F1F;
$primary-dark: #292929;
$primary-light: #E3E3E3;
$secondary: #3E3E3E;
$text: #606060;
$warning: #FF6464;
$chat-box: #2B2B2B;

$input: rgba(60,60,60,1);
$input-light: #007EF4;
$input-light-secondary: #AECFED;
$input-placeholder: #CCCCCC;

$lightblack: #0A0A0A;
$white: #fff;
$black: #000;
$grayopaque: #525252;

$breakpoint-mobile: 768px;