$primary-dark: #1F1F1F;
$secondary-dark: #292929;
$primary-light: #E3E3E3;

$placeholder: #3c3c3c;
$chat-received: #2B2B2B;
$active-light: #007EF4;
$active-lighter: #90c9ff;
$text-primary: #606060;
$text-secondary: #CCCCCC;

$white: #FFFFFF;

$breakpoint-md: 767px;