.header-container {
    height: 141px;
    background: $primary-dark;
    .title {
        color: $white;
    }
    @media (max-width: $breakpoint-md) {
        height: 109px;
    }
    ul {       
        li {
            width: 143px;
            height: 48px;
            cursor: pointer;
            background: $primary-light;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
    .dropdown {
        img {
            width: 30px;
            height: 30px;
        }
    }
    .nickname-header {
        color: $text-primary;
    }
}